:root{
	--color-a: #d5e1df;
	--color-a-a: #b5c1bf;
	--color-a-b: #e5f1ef;
	--color-b: #e3eaa7;
	--color-c: #b5e7a0;
	--color-c-a: #95c780;
	--color-d: #86af49;
}


* {
	box-sizing:  border-box;
	padding: 0;
	margin: 0;
	outline: 0 !important;
	border:  0;
}

.article-input {
   resize: vertical;
   width: 70%;
   height: 500px;
}




.article{
	margin-bottom: 50px;
}

body{
	min-height: 100vh;
   display: flex;
   flex-direction: column;
	background-color: #FAFAFA;
}

.wilson{
	width: 80rem;
	margin: 0 auto;

}

.william{
	width: 60rem;
	margin: 0 auto;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3rem;
}
tr {
 	display:flex;
 	flex-wrap:wrap;

}
.list-content:hover {
	background-color: var(--color-c);
	color: white;
	font-weight: bold;
}
td,th{
    border-bottom: 1px solid var(--color-a);
    padding: 10px;
    display: flex;
    flex: 1;
  }

th{
	font-size: 1.5rem;
}


.table-title{
	flex: 2;
}
.table-times{
	flex: 1.5;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: none;
	color: var(--color-d);
}

.list-top{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.write{
	display: flex;
	font-size: 1.5rem;
	margin: 0 4rem;
	color: white;
	background-color: var(--color-c-a);
	padding: 0.5rem;
	border-radius: 0.6rem;
	height: 2.7rem;
	align-items: center;
}
.write:hover{
	color: var(--color-a);
}


.list-forum{
	display: flex;
	font-size: 3rem;
	color: var(--color-c-a);
}



/*header*/

header{
	background-color: var(--color-c);
	display: flex;
	height: 6.25rem;
}

.home-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5rem;
}

.home-header-icon {
	flex: 1;
}
.home-header,
.login-header,
.signup-header{
	margin: auto;
}

.home-header a{
	color: white;
}
.home-header a:hover{
	color: var(--color-c-a);
}



.home-header-right{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.search{
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.search-index{
	height: 1.5rem;
	padding: 0.5rem;
	background-color: var(--color-a-a);
	color: white;
}

.home-header-upper{
	display: flex;
	align-items: center;
	gap: 1rem;
}

.home-header-upper-auth{
	display: inline-block;
}


.home-header-bottom li{
	display: inline-block;
}

.home-header-bottom-button{
	display: flex;
	flex-direction: row;
	gap: 1rem;
}



/*banner*/
.home-banner img{
	width: 100%;
}

/*main*/
main{
	margin: auto;
}

.home-recentnews{
	margin: 3rem auto;
}

.home-recentnews li{
	display: flex;
	flex-direction: column;
}

footer{
	height: 10rem;
	background-color: var(--color-a-a);
	margin-top: auto;
}

/*login*/

.login-fieldset{
	display: flex;
	background-color: var(--color-a-b);
	padding: 2rem;
	flex-direction: column;
	align-items: center;
	border: 0.5rem;
	border-style: solid;
	border-color: var(--color-c-a);
}

.login-legend{
	margin: 0 auto;
	padding: 0.5rem 1rem;
	font-size: 3rem;
	font-weight: bolder;
	color: var(--color-c-a);
}

.login-account-info{
	display: flex;
	flex-direction: column;
	flex: 6;
}

.login-userid,
.login-password{
	width: 100%;
	height: 2rem;
	padding: 0.5rem;
	font-size: 1rem;
	margin: 0.1rem;
}

.login-final-submit{
	padding: 0.5rem;
	border-radius: 0.4rem;
	font-size: 1.5rem;
	font-weight: bord;
	background-color: var(--color-c-a);
	color:white;
	flex: 1;
	margin-left: 1rem;
}


.login-info{
	display: flex;
	flex-direction: row;
	width: 21rem;
}

.login-msg{
	margin: 1rem;
	width: 10rem;
}

/*signup*/

.signup-fieldset{
	display: flex;
	background-color: var(--color-a-b);
	padding: 2rem;
	flex-direction: column;
	align-items: center;
	border: 0.5rem;
	border-style: solid;
	border-color: var(--color-c-a);
}

.signup-legend{
	margin: 0 auto;
	padding: 0.5rem 1rem;
	font-size: 3rem;
	font-weight: bolder;
	color: var(--color-c-a);
}

.email-fieldset{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.verify-email{
	padding: 0.5rem;
	margin: 0.5rem;
	display: flex;
}

.signup-email{
	width: 20rem;
	height: 2rem;
	padding: 0.5rem;
	font-size: 1rem;
}

.signup-email-submit{
	padding: 0.5rem;
	border-radius: 0.4rem;
	font-weight: bord;
	background-color: var(--color-c-a);
	color:white;
	margin-left: 1rem;
}

.email-msg{
	white-space: initial;
	width: 20rem;
}

.signup-hr{
	height: 0.3rem;
	width: 95%;
	margin: 1rem 0;
	background-color: var(--color-c-a);
}

.signup-info{
	display: flex;
	flex-direction: row;
	width: 21rem;
}

.signup-account-info{
	display: flex;
	flex-direction: column;
	flex: 6;
}

.signup-userid,
.signup-password{
	width: 100%;
	height: 2rem;
	padding: 0.5rem;
	font-size: 1rem;
	margin: 0.1rem;
}

.signup-final-submit{
	padding: 0.5rem;
	border-radius: 0.4rem;
	font-size: 1.5rem;
	font-weight: bord;
	background-color: var(--color-c-a);
	color:white;
	flex: 1;
	margin-left: 1rem;
}

/*show article*/
.show-forum{
	display: flex;
	font-size: 2rem;
	color: var(--color-c-a);
	margin-top: 2rem;
}

.show-arcitle-title{
	font-weight: bold;
	font-size: 3rem;
}

.show-article-meta{
	display: flex;
}

.show-file{
	font-weight: bold;
	font-size: 1.3rem;
}

.show-file a{
	font-weight: normal;
	font-size: 1.3rem;
	color: var(--color-d);
}
.show-file a:hover{
	color: var(--color-c);
}


.like{
	margin-bottom: 30px;
}

.like-btn{
	padding: 0.5rem;
	border-radius: 0.4rem;
	font-weight: bord;
	background-color: var(--color-c-a);
	color:white;
}


.comment-write{
	display: flex;
	flex-direction: row;
}

.comment-input {
   resize: none;
   flex: 7;
   height: 4rem;
   padding: 0.5rem;
   border-top-left-radius: 0.5rem;
   border-bottom-left-radius: 0.5rem;
   background-color: var(--color-a);
}

.comment-submit{
	flex: 1;
	background-color: var(--color-c-a);
   border-top-right-radius: 0.5rem;
   border-bottom-right-radius: 0.5rem;
   font-size: 2rem;
   color: white;
}

.comments{
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	background-color: var(--color-a-b);
	padding: 1rem;
}

.comment-single{
	display: flex;
	flex-direction: column;
}

.comment-meta{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.comment-meta p{
	display: inline-flex;
}

.comment-userid{
	font-size: 1.2rem;
	font-weight: bold;
}

.comments hr{
	height: 0.2rem;
	background-color: var(--color-a-a);
	margin: 1rem;
}