:root{
	--color-a: #d5e1df;
	--color-b: #e3eaa7;
	--color-c: #b5e7a0;
	--color-c-a: #95c780;
	--color-d: #86af49;
}


* {
	box-sizing:  border-box;
	padding: 0;
	margin: 0;
	outline: 0 !important;
	border:  0;
}

.article-input {
   resize: vertical;
   width: 70%;
   height: 500px;
}

.comment-input {
   resize: none;
   width: 70%;
   height: 50px;
}

.like{
	margin-bottom: 30px;
}

.article{
	margin-bottom: 50px;
}

body{
	margin: 0;
	background-color: #FAFAFA;
}

.wilson{
	width: 80rem;
	margin: 0 auto;

}

.william{
	width: 60rem;
	margin: 0 auto;

}

table {
    width: 100%;
    border-collapse: collapse;
}
tr {
 	display:flex;
 	flex-wrap:wrap;

}
.list-content:hover {
	background-color: var(--color-c);
	color: white;
	font-weight: bold;
}
td,th{
    border-bottom: 1px solid var(--color-a);
    padding: 10px;
    display: flex;
    flex: 1;
  }

th{
	font-size: 1.5rem;
}


.table-title{
	flex: 2;
}
.table-times{
	flex: 1.5;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: none;
	color: var(--color-d);
}

.list-top{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.write{
	display: flex;
	font-size: 1.5rem;
	margin: 0 4rem;
	color: white;
	background-color: var(--color-c-a);
	padding: 0.5rem;
	border-radius: 0.6rem;
	height: 2.7rem;
	align-items: center;
}
.write:hover{
	color: var(--color-a);
}


.list-forum{
	display: flex;
	font-size: 3rem;
	color: var(--color-c-a);
}

/*header*/

header{
	background-color: var(--color-c);
	display: flex;
	height: 6.25rem;
}

.home-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5rem;
}

.home-header-icon {
	flex: 1;
}
.home-header,
.login-header,
.signup-header{
	margin: auto;
}

.home-header a{
	color: white;
}
.home-header a:hover{
	color: var(--color-c-a);
}



.home-header-right{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.search{
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.home-header-upper{
	display: flex;
	align-items: center;
	gap: 1rem;
}

.home-header-upper-auth{
	display: inline-block;
}


.home-header-bottom li{
	display: inline-block;
}

.home-header-bottom-button{
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.search-index{
	height: 1.5rem;
	padding: 0.5rem;
	background-color: #AAAAAA;
	color: white;
}


/*main*/
main{
	margin: auto;
}

footer{
	height: 100px;
	background-color: grey;
	position: fixed;
}

/*login*/

/*signup*/